# summary statistics

In [8]:
using CSV, DataFrames, Statistics, OnlineStats, StatsBase, Plots, Distributions, StatsPlots

In [9]:
df = CSV.read("hprice2.csv", DataFrame);

In [20]:
names(df)

5-element Vector{String}:
 "price"
 "bdrms"
 "lotsize"
 "sqrmtr"
 "fed"

In [19]:
describe(df)

5×7 DataFrame
 Row │ variable  mean          min     median    max     nmissing  eltype
     │ Symbol    Float64       Int64   Float64   Int64   Int64     DataType
─────┼──────────────────────────────────────────────────────────────────────
   1 │ price        2.92649e5  111000  267000.0  815000         0  Int64
   2 │ bdrms        3.5678          2       3.0       7         0  Int64
   3 │ lotsize   1058.04          125     804.0   11585         0  Int64
   4 │ sqrmtr     233.347         134     217.5     446         0  Int64
   5 │ fed          0.720339        0       1.0       1         0  Int64

In [10]:
first(df, 4)

4×5 DataFrame
 Row │ price   bdrms  lotsize  sqrmtr  fed
     │ Int64   Int64  Int64    Int64   Int64
─────┼───────────────────────────────────────
   1 │ 320000      6      766     280      1
   2 │ 300000      5      881     303      1
   3 │ 405000      3     1530     388      1
   4 │ 212000      3      808     218      0

In [11]:
last(df, 4)

4×5 DataFrame
 Row │ price   bdrms  lotsize  sqrmtr  fed
     │ Int64   Int64  Int64    Int64   Int64
─────┼───────────────────────────────────────
   1 │ 285000      3      890     204      1
   2 │ 268000      3      705     158      1
   3 │ 310000      4     1075     211      1
   4 │ 266000      3      687     235      1

In [21]:
df[3,3]

1530

In [22]:
df[:,1:3]

118×3 DataFrame
 Row │ price   bdrms  lotsize
     │ Int64   Int64  Int64
─────┼────────────────────────
   1 │ 320000      6      766
   2 │ 300000      5      881
   3 │ 405000      3     1530
   4 │ 212000      3      808
   5 │ 265000      3      815
   6 │ 227400      4      450
   7 │ 240000      4      740
   8 │ 285000      3      890
   9 │ 268000      3      705
  10 │ 310000      4     1075
  11 │ 266000      3      687
  ⋮  │   ⋮       ⋮       ⋮
 109 │ 300000      5      881
 110 │ 405000      3     1530
 111 │ 212000      3      808
 112 │ 265000      3      815
 113 │ 227400      4      450
 114 │ 240000      4      740
 115 │ 285000      3      890
 116 │ 268000      3      705
 117 │ 310000      4     1075
 118 │ 266000      3      687
               97 rows omitted

In [12]:
df[1:3, :]

3×5 DataFrame
 Row │ price   bdrms  lotsize  sqrmtr  fed
     │ Int64   Int64  Int64    Int64   Int64
─────┼───────────────────────────────────────
   1 │ 320000      6      766     280      1
   2 │ 300000      5      881     303      1
   3 │ 405000      3     1530     388      1

In [13]:
df[1:5, [:price, :bdrms]]

5×2 DataFrame
 Row │ price   bdrms
     │ Int64   Int64
─────┼───────────────
   1 │ 320000      6
   2 │ 300000      5
   3 │ 405000      3
   4 │ 212000      3
   5 │ 265000      3

In [14]:
mean(df[:,:price])

292649.3728813559

In [15]:
var(df[:,:price])

9.692379782304214e9

In [16]:
std(df[:,:price])

98449.88462311277

In [17]:
skewness(df[:,:price])

2.303368987078565

In [18]:
kurtosis(df[:,:price])

8.21679374233191

In [36]:
rename!(df, :price => :Price)

118×5 DataFrame
 Row │ Price   bdrms  lotsize  sqrmtr  fed
     │ Int64   Int64  Int64    Int64   Int64
─────┼───────────────────────────────────────
   1 │ 320000      6      766     280      1
   2 │ 300000      5      881     303      1
   3 │ 405000      3     1530     388      1
   4 │ 212000      3      808     218      0
   5 │ 265000      3      815     266      1
   6 │ 227400      4      450     202      1
   7 │ 240000      4      740     230      0
   8 │ 285000      3      890     204      1
   9 │ 268000      3      705     158      1
  10 │ 310000      4     1075     211      1
  11 │ 266000      3      687     235      1
  ⋮  │   ⋮       ⋮       ⋮       ⋮       ⋮
 109 │ 300000      5      881     303      1
 110 │ 405000      3     1530     388      1
 111 │ 212000      3      808     218      0
 112 │ 265000      3      815     266      1
 113 │ 227400      4      450     202      1
 114 │ 240000      4      740     230      0
 115 │ 285000      3      890     204      1
 116 │ 268000      3      705     158      1
 117 │ 310000      4     1075     211      1
 118 │ 266000      3      687     235      1
                              97 rows omitted

In [37]:
select!(df, :Price, :bdrms)

118×2 DataFrame
 Row │ Price   bdrms
     │ Int64   Int64
─────┼───────────────
   1 │ 320000      6
   2 │ 300000      5
   3 │ 405000      3
   4 │ 212000      3
   5 │ 265000      3
   6 │ 227400      4
   7 │ 240000      4
   8 │ 285000      3
   9 │ 268000      3
  10 │ 310000      4
  11 │ 266000      3
  ⋮  │   ⋮       ⋮
 109 │ 300000      5
 110 │ 405000      3
 111 │ 212000      3
 112 │ 265000      3
 113 │ 227400      4
 114 │ 240000      4
 115 │ 285000      3
 116 │ 268000      3
 117 │ 310000      4
 118 │ 266000      3
      97 rows omitted

In [38]:
sort!(df, :Price)

118×2 DataFrame
 Row │ Price   bdrms
     │ Int64   Int64
─────┼───────────────
   1 │ 111000      4
   2 │ 150000      4
   3 │ 180000      3
   4 │ 190000      4
   5 │ 191000      3
   6 │ 191000      3
   7 │ 195000      3
   8 │ 195000      3
   9 │ 202500      3
  10 │ 206000      3
  11 │ 206000      3
  ⋮  │   ⋮       ⋮
 109 │ 417500      4
 110 │ 425000      3
 111 │ 466275      5
 112 │ 466275      5
 113 │ 471250      5
 114 │ 477500      7
 115 │ 495000      4
 116 │ 575000      5
 117 │ 713500      5
 118 │ 815000      5
      97 rows omitted

In [23]:
people = DataFrame(ID = [20, 40], Name = ["John Doe", "Jane Doe"])

2×2 DataFrame
 Row │ ID     Name
     │ Int64  String
─────┼─────────────────
   1 │    20  John Doe
   2 │    40  Jane Doe

In [28]:
jobs = DataFrame(ID = [20, 60], Job = ["Lawyer", "Astronaut"])

2×2 DataFrame
 Row │ ID     Job
     │ Int64  String
─────┼──────────────────
   1 │    20  Lawyer
   2 │    60  Astronaut

# innerjoin: the output contains rows for values of the key that exist in all passed data frames.

In [29]:
innerjoin(people, jobs, on = :ID)

1×3 DataFrame
 Row │ ID     Name      Job
     │ Int64  String    String
─────┼─────────────────────────
   1 │    20  John Doe  Lawyer

# leftjoin: the output contains rows for values of the key that exist in the first (left) argument, whether or not that value exists in the second (right) argument.

In [30]:
leftjoin(people, jobs, on = :ID)

2×3 DataFrame
 Row │ ID     Name      Job
     │ Int64  String    String?
─────┼──────────────────────────
   1 │    20  John Doe  Lawyer
   2 │    40  Jane Doe  missing

# rightjoin: the output contains rows for values of the key that exist in the second (right) argument, whether or not that value exists in the first (left) argument.

In [31]:
rightjoin(people, jobs, on = :ID)

2×3 DataFrame
 Row │ ID     Name      Job
     │ Int64  String?   String
─────┼────────────────────────────
   1 │    20  John Doe  Lawyer
   2 │    60  missing   Astronaut

# outerjoin: the output contains rows for values of the key that exist in any of the passed data frames.

In [32]:
outerjoin(people, jobs, on = :ID)

3×3 DataFrame
 Row │ ID     Name      Job
     │ Int64  String?   String?
─────┼────────────────────────────
   1 │    20  John Doe  Lawyer
   2 │    40  Jane Doe  missing
   3 │    60  missing   Astronaut